body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0px 0px;
}

div.header {
    background-color: rgb(241, 101, 101);
    height: 300px;
}

.heading {
    font-size: 72px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 70px;
    padding-bottom: 40px;
    margin: 0px;
}
.heading.recipe{
    position: absolute;
    top: 70px; left: 20px;
    
}
.header p {
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold
}

#recipes {
    font-size: 20px;
    margin-top: 70px;
    padding-left: 60px;
    color:  rgb(241, 101, 101);
}

.links li {
    margin: 30px 0;
}

#overlay {
    position: relative;
}

.foodPic {
    position: absolute;
    top: 70px; right: 100px;
}
.foodPic.wings {
    width: 500px;
}

.description {
    margin-top: 40px;
    width: 50%;
    padding-left: 80px;
    font-size: 20px;
}

.ingredients {
    position: absolute;
    top: 600px; right: 100px;
    background-color: lightgrey;
    padding: 10px;
    width: 480px;
}

.ingredients.wings {
    top: 600px;
}

.ingredients h2 {
    padding-left: 20px;
    font-weight: bolder;
    font-size: 30px;
}
.ingredients li {
    padding-top: 20px;
}

.steps {
    padding-left: 90px;
    margin-top: 40px;
    width: 45%;
}
.steps h2 {
    font-size: 26px;
}
.steps li {
    padding-top: 24px;
    font-size: 20px;
}
.return-link {
    margin-left: 116px;
    margin-top: 100px;
    color: rgb(241, 101, 101);
    font-size: 18px;
    margin-bottom: 50px;
}
.footer {
    background-color: rgb(241, 101, 101);
    height: 200px;
    margin: 0;
    padding: 0;
}

.footer.wings {
    margin-top: 400px;
    height: 300px;
}